---
name: Deploy Azure TRE Letsencrypt Reusable 
# yamllint disable rule:line-length rule:comments-indentation

on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      prRef:
        description: The git ref to checkout
        type: string
        required: false
      prHeadSha:
        description: >-
          For PR builds where GITHUB_REF isn't set to the PR (e.g. comment trigger),
          pass the PR's head SHA commit here
        type: string
        required: false
      ciGitRef:
        description: The git ref to use in annotations to associate a deployment with the code that triggered it
        type: string
        required: true
      e2eTestsCustomSelector:
        description: The pytest marker selector for the e2e tests to be run
        type: string
        default: ""
        required: false
      environmentName:
        description: The name of the Github Action's environment this will deploy into
        type: string
        required: true
      E2E_TESTS_NUMBER_PROCESSES:
        description: ""
        type: number
        required: false
      DEVCONTAINER_TAG:
        description: ""
        type: string
        required: true
      UI_SITE_NAME:
        description: Change the header text in the TRE portal
        type: string
        default: ""
        required: false
      UI_FOOTER_TEXT:
        description: Change the footer text in the TRE portal
        type: string
        default: ""
        required: false
    secrets:
      AAD_TENANT_ID:
        description: ""
        required: true
      ACR_NAME:
        description: ""
        required: true
      API_CLIENT_ID:
        description: ""
        required: true
      API_CLIENT_SECRET:
        description: ""
        required: true
      APPLICATION_ADMIN_CLIENT_ID:
        description: ""
        required: true
      APPLICATION_ADMIN_CLIENT_SECRET:
        description: ""
        required: true
      MGMT_RESOURCE_GROUP_NAME:
        description: ""
        required: true
      MGMT_STORAGE_ACCOUNT_NAME:
        description: ""
        required: true
      SWAGGER_UI_CLIENT_ID:
        description: ""
        required: true
      TEST_ACCOUNT_CLIENT_ID:
        description: Client ID for test automation account used for unattended bundle registration
        required: true
      TEST_ACCOUNT_CLIENT_SECRET:
        description: Client secret for test automation account used for unattended bundle registration
        required: true
      TRE_ID:
        description: ""
        required: true
      CI_CACHE_ACR_NAME:
        description: ""
        required: false
      AZURE_CREDENTIALS:
        description: ""
        required: true
      ENCRYPTION_KV_NAME:
        description: ""
        required: false
      EXTERNAL_KEY_STORE_ID:
        description: ""
        required: false
      PRIVATE_AGENT_SUBNET_ID:
        description: ""
        required: false

# This will prevent multiple runs of this entire workflow.
# We should NOT cancel in progress runs as that can destabilize the environment.
concurrency: "deploy-${{ inputs.ciGitRef }}"

jobs:
  deploy_management:
    name: Deploy Management
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    environment: ${{ inputs.environmentName }}
    steps:
      - name: Show inputs
        run: |
          echo "Inputs"
          echo "======"
          echo "prRef       : ${{ inputs.prRef }}"
          echo "prRHeadSha  : ${{ inputs.prHeadSha }}"
          echo "ciGitRef    : ${{ inputs.ciGitRef }}"
          echo "environment : ${{ inputs.environmentName }}"

      - name: Check required values
        id: check_required_values
        # since this is a resuable workflow, required=true secrets will always have a value but it can be empty.
        run: |
          if [ "${{ secrets.AAD_TENANT_ID }}" == '' ]; then
            echo "Missing secret: AAD_TENANT_ID" && exit 1
          fi
          if [ "${{ secrets.ACR_NAME }}" == '' ]; then
            echo "Missing secret: ACR_NAME" && exit 1
          fi
          if [ "${{ secrets.API_CLIENT_ID }}" == '' ]; then
            echo "Missing secret: API_CLIENT_ID" && exit 1
          fi
          if [ "${{ secrets.API_CLIENT_SECRET }}" == '' ]; then
            echo "Missing secret: API_CLIENT_SECRET" && exit 1
          fi
          if [ "${{ secrets.APPLICATION_ADMIN_CLIENT_ID }}" == '' ]; then
            echo "Missing secret: APPLICATION_ADMIN_CLIENT_ID" && exit 1
          fi
          if [ "${{ secrets.APPLICATION_ADMIN_CLIENT_SECRET }}" == '' ]; then
            echo "Missing secret: APPLICATION_ADMIN_CLIENT_SECRET" && exit 1
          fi
          if [ "${{ secrets.MGMT_RESOURCE_GROUP_NAME }}" == '' ]; then
            echo "Missing secret: MGMT_RESOURCE_GROUP_NAME" && exit 1
          fi
          if [ "${{ secrets.MGMT_STORAGE_ACCOUNT_NAME }}" == '' ]; then
            echo "Missing secret: MGMT_STORAGE_ACCOUNT_NAME" && exit 1
          fi
          if [ "${{ secrets.SWAGGER_UI_CLIENT_ID }}" == '' ]; then
            echo "Missing secret: SWAGGER_UI_CLIENT_ID" && exit 1
          fi
          if [ "${{ secrets.TEST_ACCOUNT_CLIENT_ID }}" == '' ]; then
            echo "Missing secret: TEST_ACCOUNT_CLIENT_ID" && exit 1
          fi
          if [ "${{ secrets.TEST_ACCOUNT_CLIENT_SECRET }}" == '' ]; then
            echo "Missing secret: TEST_ACCOUNT_CLIENT_SECRET" && exit 1
          fi
          if [ "${{ secrets.TRE_ID }}" == '' ]; then
            echo "Missing secret: TRE_ID" && exit 1
          fi
          if [ "${{ secrets.AZURE_CREDENTIALS }}" == '' ]; then
            echo "Missing secret: AZURE_CREDENTIALS" && exit 1
          fi

          if [ "${{ inputs.DEVCONTAINER_TAG }}" == '' ]; then
            echo "Missing input: DEVCONTAINER_TAG" && exit 1
          fi

          if [ "${{ vars.LOCATION }}" == '' ]; then
            echo "Missing variable: LOCATION" && exit 1
          fi

      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          # if the following values are missing (i.e. not triggered via comment workflow)
          # then the default checkout will apply
          ref: ${{ inputs.prRef }}

      - name: Set up Docker BuildKit
        uses: docker/setup-buildx-action@v3

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ (vars.AZURE_ENVIRONMENT != '' && vars.AZURE_ENVIRONMENT) || 'AzureCloud' }}

      - name: ACR Login
        id: ci_cache_acr_login
        # will fail if this is a new env which is expected
        continue-on-error: true
        run: az acr login --name "${{ secrets.CI_CACHE_ACR_NAME }}"

      - name: Build new devcontainer
        env:
          DOCKER_BUILDKIT: 1
        run: |
          set -e

          USER_UID=$(id -u)
          USER_GID=$(id -g)
          acr_domain_suffix=$(az cloud show --query suffixes.acrLoginServerEndpoint --output tsv)
          CI_CACHE_ACR_URI=${{ secrets.CI_CACHE_ACR_NAME }}${acr_domain_suffix}
          echo "CI_CACHE_ACR_URI=$CI_CACHE_ACR_URI" >> "$GITHUB_ENV"

          docker_cache=()
          if [ "${{ steps.ci_cache_acr_login.outcome }}" = "success" ]; then
            docker_cache+=(--cache-from "$CI_CACHE_ACR_URI/tredev:${{ inputs.DEVCONTAINER_TAG }}")
            docker_cache+=(--cache-from "$CI_CACHE_ACR_URI/tredev:latest")
          fi

          docker build . "${docker_cache[@]}" \
            -t "tredev:${{ inputs.DEVCONTAINER_TAG }}" -f ".devcontainer/Dockerfile" \
            --build-arg BUILDKIT_INLINE_CACHE=1 --build-arg USER_UID="${USER_UID}" --build-arg USER_GID="${USER_GID}"

          docker image tag tredev:"${{ inputs.DEVCONTAINER_TAG }}" \
            "$CI_CACHE_ACR_URI/tredev:${{ inputs.DEVCONTAINER_TAG }}"

      - name: Deploy management
        uses: ./.github/actions/devcontainer_run_command
        with:
          COMMAND: |
            # Install certbot into a venv and then run make letsencrypt
            set -e
            sudo apt-get update -y
            sudo apt-get install -y python3 python3-venv libaugeas0
            python3 -m venv /opt/certbot/
            /opt/certbot/bin/pip install --upgrade pip
            /opt/certbot/bin/pip install certbot
            # run existing make target after certbot is available
            make letsencrypt
          DEVCONTAINER_TAG: ${{ inputs.DEVCONTAINER_TAG }}
          CI_CACHE_ACR_NAME: ${{ secrets.CI_CACHE_ACR_NAME}}
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
          AZURE_ENVIRONMENT: ${{ vars.AZURE_ENVIRONMENT }}
          TRE_ID: ${{ secrets.TRE_ID }}
          LOCATION: ${{ vars.LOCATION }}
          ACR_NAME: ${{ secrets.ACR_NAME }}
          TERRAFORM_STATE_CONTAINER_NAME: ${{ vars.TERRAFORM_STATE_CONTAINER_NAME }}
          MGMT_RESOURCE_GROUP_NAME: ${{ secrets.MGMT_RESOURCE_GROUP_NAME }}
          MGMT_STORAGE_ACCOUNT_NAME: ${{ secrets.MGMT_STORAGE_ACCOUNT_NAME }}
          ENABLE_CMK_ENCRYPTION: ${{ vars.ENABLE_CMK_ENCRYPTION }}
          ENCRYPTION_KV_NAME: ${{ secrets.ENCRYPTION_KV_NAME }}
          EXTERNAL_KEY_STORE_ID: ${{ secrets.EXTERNAL_KEY_STORE_ID }}
          PRIVATE_AGENT_SUBNET_ID: ${{ secrets.PRIVATE_AGENT_SUBNET_ID }}
